<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexxx.a4_intentsreceiversservicesandnotifications">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".taskOne.SpotifyActivity"
            android:label="Task One"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".taskOne.AudioPlayerService">
            <intent-filter>
                <action android:name="com.alexxx.PLAY" />
                <action android:name="com.alexxx.STOP" />
                <action android:name="com.alexxx.PAUSE" />
            </intent-filter>
        </service>

        <activity android:name=".taskTwo.TaskTwoActivity"
            android:label="Task Two">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".taskTwo.BatteryChangedInfoCollectService" />
    </application>

</manifest>